   .birthday-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    background-image: url('/src/images/IMG-20230409-WA0026.jpg');
    background-size: cover;
    background-position: center;
    animation: fadeIn 2s ease-in-out;
    position: relative;
  }
  
  .birthday-title {
    font-size: 115px;
    color: #fff;
    text-shadow: 0 0 20px #b403f5, 0 0 30px #ff00ff, 0 0 40px #ff00ff, 0 0 50px #0004ff;
    animation: bounce 2s infinite;
    position: absolute;
    top: 20px;
    left: 20px;
    margin: 0;
  }
  
  .birthday-button {
    padding: 20px 40px;
    font-size: 24px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    background-color: #cc00ff;
    color: #fff;
    text-shadow: 0 0 10px #fff, 0 0 20px #ff00ff, 0 0 30px #ff00ff;
    animation: pulse 2s infinite;
    position: absolute;
    top: 200px;
    left: 20px;
    margin: 0;
  }
  
  .birthday-back-button {
    padding: 15px 30px;
    font-size: 20px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    background-color: #00bfff;
    color: #fff;
    text-shadow: 0 0 10px #fff, 0 0 20px #00bfff;
    position: absolute;
    right: 20px;
    bottom: 20px;
    transition: transform 0.2s ease-in-out;
  }
  
  .birthday-back-button:hover {
    transform: scale(1.1);
  }
  
  .sparkle.active {
    text-shadow: 0 0 20px #ff00ff, 0 0 30px #ff00ff, 0 0 40px #ff00ff, 0 0 50px #ff00ff;
  }
  
  @keyframes bounce {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-20px);
    }
  }
  
  @keyframes pulse {
    0%, 100% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  